<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>EDIÇÃO DE AVISOS</ion-title>
    <ion-buttons slot="start">
      <ion-icon
        class="ion-back-button"
        icon="arrow-back"
        size="large"
        (click)="navBack()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div
    style="
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    "
    *ngFor="let i of avisos"
  >
    <ion-card
      style="padding-top: 40px; padding-bottom: 40px"
      (click)="editar(i.uid)"
    >
      <p *ngIf="!i.CanShow" style="color: #f00">AVISO EXPIRADO</p>

      <b style="font-size: 20px">{{i.Title}}</b>

      <p style="margin-top: 10px; color: #000">{{i.Subtitle}}</p>
    </ion-card>
  </div>
  <div
    style="
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <ion-button (click)="criar()">CRIAR AVISO</ion-button>
  </div>
</ion-content>
