<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title style="color:black">CARDÁPIO</ion-title>
    <ion-buttons slot="start">
      <ion-icon
        style="color:black"
        class="ion-back-button"
        icon="arrow-back"
        size="large"
        (click)="navBack()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">
    <div *ngIf="!data.PaginaCarregada" id="container" style="flex: 1; justify-content: center; align-items: center;">
      
      <ion-spinner name="dots" style="color:#000"></ion-spinner>
      <p style="color: black; text-align: center;">Carregando informações...</p>
    </div>
    <ion-card *ngIf="data.PaginaCarregada" >
      <!--<b style="font-size: 13px">SÃO BENTO KIDS</b>
      <p >AVENIDA PROFESSOR VITAL BARBOSA, 565, PONTA VERDE, MACEIÓ - AL</p>
      <p >CEP: 57.035-400 Fone/Fax: (82) 3435-3857</p>
      <p >CNPJ: 27.839.068/0003-87</p>
      <p >E-mail: sbentokids@gmail.com</p>-->
      
      <b style="font-size: 20px">{{data.Title}}</b>
      <div style="margin-top: 20px;"[innerHTML]="data.Content | safeHtml"></div>
    </ion-card>
  </div>
  
  
</ion-content>
