<ion-content [fullscreen]="true">
  <div id="container">
    <img *ngIf="isKeyboardHide" src="../../assets/images/Logo.png" />
    <ion-card>
      <b>LOGIN</b>
      <div class="input">
        <ion-item lines="none">
          <ion-label position="floating">E-mail</ion-label>
          <ion-input [(ngModel)]="user.Email" type="email"></ion-input>
        </ion-item>
      </div>
      <div class="input">
        <ion-item lines="none">
          <ion-label position="floating">Senha</ion-label>
          <ion-input  [(ngModel)]="user.Senha" type="password"></ion-input>
        </ion-item>
      </div>
      <div class="cadastre">
        <p>Esqueci minha senha</p>

        <p (click)="cadastro()">Cadastre-se</p>
      </div>
      <ion-button (click)="login()" >LOGIN</ion-button>
    </ion-card>
  </div>
</ion-content>
