<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>SOLICITAÇÕES DE MATRÍCULA</ion-title>

    <ion-buttons slot="start">
      <ion-icon
        class="ion-back-button"
        icon="arrow-back"
        size="large"
        (click)="navBack()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <div style="overflow-y: scroll; padding-top:80px">
    <div
      style="
        width: 100%;
        display: flex;
        justify-content: center;
      "
      *ngFor="let i of matriculas"
    >
      <ion-card
        style="padding-top: 20px; padding-bottom: 20px"
        (click)="visualizar(i.numeroSolicitacao)"
      >
      <p style="margin-bottom: 10px; color: #000">
        Nº {{i.numeroSolicitacao}}
      </p>
        <p style="margin-bottom: 10px; color: #000">
          Responsável: {{i.Responsavel}}
        </p>

        <b style="font-size: 20px">Aluno: {{i.NomeAluno}}</b>

        <b *ngIf="i.Confirmado=='ativa'" style="color: green; margin-top: 10px; ">ATIVA</b>
        <b *ngIf="i.Confirmado=='aguardando-pagamento'" style="color: rgb(241, 145, 0); margin-top: 10px; ">AGUARDANDO PAGAMENTO</b>
        <b *ngIf="i.Confirmado=='aguardando-aprovacao'" style="color: red; margin-top: 10px; ">AGUARDANDO APROVAÇÃO</b>
        <b *ngIf="i.Confirmado=='inativa'" style="color: red; margin-top: 10px; ">INATIVA</b>
        <b *ngIf="i.Confirmado=='revogada'" style="color: red; margin-top: 10px; ">REVOGADA</b>
      </ion-card>
    </div>
  </div>

    <ion-tab-bar style="--background: rgb(247, 228, 193); min-height: 70px" slot="bottom">
      <ion-tab-button
        (click)="activateTab(1)"
        style="background-color: {{bg1}}; border-radius: 10px; margin:2px"
      >
        <b>Em aberto</b>
      </ion-tab-button>

      <ion-tab-button
        (click)="activateTab(2)"
        style="background-color: {{bg2}};  border-radius: 10px; margin:2px"
      >
        <b>Confirmados</b>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
